<%= render "layouts/errors", :object => @question%>

<%= form_for @question do |f| %>
  <div class="field">
    <%= f.text_field :option_a %><br>
    <%= f.label :option_a %>
    <%= link_to "(vote a)", question, method: :upvote %>
    <div class="field">
      <%= f.text_field :option_b %><br>
      <%= f.label :option_b %>
      <td><%= link_to "(vote b)", question, method: :downvote %></td>
    </div><br>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
